//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 02 17:58:39 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "saida<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "saida<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "saida<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "saida<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "saida<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "saida<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "saida<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "ANODO<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "ANODO<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "ANODO<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "ANODO<3>" LOCATE = SITE "F15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

