//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 03 15:19:13 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "ssd<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "ssd<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "ssd<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "ssd<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "ssd<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "ssd<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "ssd<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "ANODO<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "ANODO<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "ANODO<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "ANODO<3>" LOCATE = SITE "F15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

